@charset "utf-8";
.sjaakp-bandoneon > *:nth-child(odd)    {
    cursor: pointer;
}
.sjaakp-bandoneon > *:nth-child(odd):before  {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 1.1em;
    vertical-align: middle;
    border-left: .25em solid;
    border-right: .25em solid transparent;
    border-top: .25em solid transparent;
    border-bottom: .25em solid transparent;
}
.sjaakp-bandoneon > *:nth-child(odd).open:before  {
    border-left-color: transparent;
    border-top-color: inherit;
}
.sjaakp-bandoneon > *:nth-child(even)   {
    padding: 0 1.65em;
    border-left: .3em solid #eee;
}
